html
    head

        title Out first login page
        link(rel= 'stylesheet' href='mystyle.css' type ='text/css')


    body
        div.login-form
            h1 Log-in
            form
                input(type="text" name="username" placeholder="Username")
                input(type="password" name="pass" placeholder="Password")
                input(type="submit" name= "Log in" value="login")
            div
                a(href="#") Register
                |&bull;
                a(href="#") Recover Password





