body
  background-color cornflowerblue
  font-family "Roboto", sans-serif
  width 700px
  height 600px

.login-form
  width 300px
  background-color azure
  overflow hidden
  box-shadow gray 0px 2px 2px
  padding 40px
  border-radius 5px
  margin-left 300px
  margin-right auto
  margin-bottom auto
  margin-top auto


  h1
    font-weight 100
    text-align center
    font-size 60px

  input[type=text], input[type=password]
      width 100%
      display block
      position relative
      height 40px
      border 2px black solid
      margin-bottom 10px


  input[type=submit]
    width 50%
    background-color cornflowerblue
    height 40px
    padding 5px
    font-size 20px
    position relative
    margin-left auto
    margin-right auto
    display block

  div
    position center
    width 100%
    display block
    font-size 20px
    padding 20px


