body {
  background-color: #6495ed;
  font-family: "Roboto", sans-serif;
  width: 700px;
  height: 600px;
}
.login-form {
  width: 300px;
  background-color: #f0ffff;
  overflow: hidden;
  box-shadow: #808080 0px 2px 2px;
  padding: 40px;
  border-radius: 5px;
  margin-left: 300px;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}
.login-form h1 {
  font-weight: 100;
  text-align: center;
  font-size: 60px;
}
.login-form input[type=text],
.login-form input[type=password] {
  width: 100%;
  display: block;
  position: relative;
  height: 40px;
  border: 2px #000 solid;
  margin-bottom: 10px;
}
.login-form input[type=submit] {
  width: 50%;
  background-color: #6495ed;
  height: 40px;
  padding: 5px;
  font-size: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.login-form div {
  position: center;
  width: 100%;
  display: block;
  font-size: 20px;
  padding: 20px;
}
